HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node.js ###
node_modules/
frontend/node_modules/
frontend/node-v20.11.1-darwin-arm64/

### AWS Credentials and Secrets ###
.env
.env.local
.env.development
.env.test
.env.production
*.pem
*.key
aws-credentials.properties
application-local.properties
application-dev.properties
application-prod.properties

### Temporary Files ###
replacements.txt
secrets.txt
bfg.jar

### Files with potential sensitive information ###
src/main/java/com/auctionmachine/lib/CorsConfig.java
src/main/java/com/auctionmachine/resources/model/AuctionRoomModel.java
src/main/java/com/auctionmachine/resources/schema/auction/AuctionResponse.java
src/main/java/com/auctionmachine/resources/schema/user/UserRequest.java
src/main/java/com/auctionmachine/resources/service/AuthService.java
src/main/java/com/auctionmachine/util/JwtUtil.java
src/main/java/com/auctionmachine/util/RedisUtil.java
src/main/java/com/auctionmachine/web/socket/config/WebSocketConfig.java
src/main/java/com/auctionmachine/web/socket/config/WebSocketCorsConfig.java
src/main/java/com/auctionmachine/web/socket/interceptor/JwtHandshakeInterceptor.java
